<main>
  <div class="container">
    <div class="container__profile">
      <div class="profile__photo-container">
        <img class="profile__photo" src="./images/image-jeremy.png" alt="jeremy">
      </div>
      <div class="profile__info">
        <p class="profile__info-report">Report for</p>
        <p class="profile__info-name">Jeremy Robson</p>
      </div>
    </div>
    <div class="profile__reports-period">
      <button class="report-Daily btn" id="daily">Daily</button>
      <button class="report-Weekly btn" id="weekly">Weekly</button>
      <button class="report-Monthly btn" id="monthly">Monthly</button>
    </div>
  </div>
  <div class="container__summary" id="container__summary">
    <div class="summary__card" id="card">
        <div class="container__card-img">
          <img class="card__img" src="./images/icon-work.svg" alt="work">
        </div>
        <div class="card__header">
          <p class="header__title">Work</p>
          <p class="header__menu">...</p>
        </div>
        <div class="card__main">
          <p class="card__main-hours" id="hours">32hrs</p>
        </div>
        <div class="card__footer">
          <p class="footer_period" id="previous">period</p>
        </div>
    </div>
    <div class="summary__card" id="card">
      <div class="container__card-img">
        <img class="card__img" src="./images/icon-play.svg" alt="work">
      </div>
      <div class="card__header">
        <p class="header__title">Work</p>
        <p class="header__menu">...</p>
      </div>
      <div class="card__main">
        <p class="card__main-hours" id="hours">32hrs</p>
      </div>
      <div class="card__footer">
        <p class="footer_period" id="previous">period</p>
      </div>
    </div>
    <div class="summary__card" id="card">
      <div class="container__card-img">
        <img class="card__img" src="./images/icon-study.svg" alt="work">
      </div>
      <div class="card__header">
        <p class="header__title">Work</p>
        <p class="header__menu">...</p>
      </div>
      <div class="card__main">
        <p class="card__main-hours" id="hours">32hrs</p>
      </div>
      <div class="card__footer">
        <p class="footer_period" id="previous">period</p>
      </div>
    </div>
    <div class="summary__card" id="card">
      <div class="container__card-img">
        <img class="card__img" src="./images/icon-exercise.svg" alt="work">
      </div>
      <div class="card__header">
        <p class="header__title">Work</p>
        <p class="header__menu">...</p>
      </div>
      <div class="card__main">
        <p class="card__main-hours" id="hours">32hrs</p>
      </div>
      <div class="card__footer">
        <p class="footer_period" id="previous">period</p>
      </div>
    </div>
    <div class="summary__card" id="card">
      <div class="container__card-img">
        <img class="card__img" src="./images/icon-social.svg" alt="work">
      </div>
      <div class="card__header">
        <p class="header__title">Work</p>
        <p class="header__menu">...</p>
      </div>
      <div class="card__main">
        <p class="card__main-hours" id="hours">32hrs</p>
      </div>
      <div class="card__footer">
        <p class="footer_period" id="previous">period</p>
      </div>
    </div>
    <div class="summary__card" id="card">
      <div class="container__card-img">
        <img class="card__img" src="./images/icon-self-care.svg" alt="work">
      </div>
      <div class="card__header">
        <p class="header__title">Work</p>
        <p class="header__menu">...</p>
      </div>
      <div class="card__main">
        <p class="card__main-hours" id="hours">32hrs</p>
      </div>
      <div class="card__footer">
        <p class="footer_period" id="previous">period</p>
      </div>
    </div>
  </div>
</main>
