<div class="container">
  <div class="container__profile">
    <div class="profile__photo-container">
      <img class="profile__photo" src="../../../assets/images/image-jeremy.png" alt="jeremy">
    </div>
    <div class="profile__info">
      <p class="profile__info-report">Report for</p>
      <p class="profile__info-name">Jeremy Robson</p>
    </div>
  </div>
  <div class="profile__reports-period">
    <button class="report-Daily btn" id="daily">Daily</button>
    <button class="report-Weekly btn" id="weekly">Weekly</button>
    <button class="report-Monthly btn" id="monthly">Monthly</button>
  </div>
</div>
