<div class="container__summary" id="container__summary">
  <div class="summary__card" id="card" *ngFor="let card of listCards">
      <div class="container__card-img">
        <img class="card__img" src='../../../assets/images/icon-{{ card.title }}.svg' alt="{{ card.title }}">
      </div>
      <div class="card__header">
        <p class="header__title">{{ card.title }}</p>
        <p class="header__menu">...</p>
      </div>
      <div class="card__main">
        <p class="card__main-hours" id="hours">32Hrs</p>
      </div>
      <div class="card__footer">
        <p class="footer_period" id="previous">period</p>
      </div>
  </div>
</div>
