.container{
    display: flex;
    flex-direction: column;
  }

  .container__profile, .profile__reports-period{
    display: flex;
    flex-direction: column;
  }

  .container__profile{
    background-color: var(--blue);
    width: auto;
    padding: 2em;
    border-radius: 25px;
  }

  .profile__photo-container{
    border-radius: 100%;
    border: 4px solid var(--white);
    width: 6em;
    height: 6em;
  }

  .profile__photo{
    width: 100%;
    height: 100%;
  }

  .profile__info{
    padding: 1.5em 0 5em 0;
    width: 90%;
  }

  .profile__info-report{
    color: rgba(255, 255, 255, 0.432);
  }

  .profile__info-name{
    font-size: 2em;
  }

  .profile__reports-period{
    background-color: var(--dark-blue);
    padding: 1.5em;
  }

  .btn{
    margin: .5em;
    background-color: transparent;
    color: white;
    border: none;
    text-align: left;
  }